{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area text-center shadow dark bg-fixed text-light" style="background-image: url(/static/assets/img/about/serene-tobacco-farm-landscape-sunrise.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>About Us</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                            <li class="active">About</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->


    <!-- Start About Area 
    ============================================= -->
    <div class="about-style-two-area default-padding" style="background-image: url(/static/assets/img/shape/33.png);">
        <div class="container">
            <div class="row">
                <div class="about-style-two col-lg-2">
                    <div class="info">
                        <h2 class="title">About <br>K.R & Co</h2>
                        <p>
                            K.R & Co has its origins as KRK founded by Sri. Karpurapu Ramakrishna Murthy in 1948 fundamentally to trade in tobacco internationally.
                            
                        </p>
                        <ul>
                            <li>Best Quality Standards</li>
                            <li>Natural Healthy Products</li>
                        </ul>
                        <a class="btn btn-theme mt-30 secondary btn-md radius animation" href="#">Discover More</a>
                    </div>
                </div>
                <div class="about-style-two col-lg-8">
                    <div class="thumb">
                        <img src="{% static 'assets/img/about/harvest-north-carolina-tobacco-farm.jpg' %}" alt="Image Not Found">
                    </div>
                </div>
                <div class="about-style-two col-lg-2">
                    <ul class="counter-list">
                        <li>
                            <div class="fun-fact">
                                <div class="counter">
                                    <div class="timer" data-to="250" data-speed="2000">250</div>
                                    <div class="operator">M</div>
                                </div>
                                <span class="medium">Growth Tonns of Harvest</span>
                            </div>
                        </li>
                        <li>
                            <div class="fun-fact">
                                <div class="counter">
                                    <div class="timer" data-to="688" data-speed="2000">688</div>
                                    <div class="operator">K</div>
                                </div>
                                <span class="medium">Sales of our Products</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->

    <!-- Start Farmer 
    ============================================= -->
    <div class="farmer-area default-padding bottom-less bg-gray" style="background-image: url(/static/assets/img/shape/36.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h5 class="sub-title">Our Farmers</h5>
                        <h2 class="title">Meet Our Farm Experts</h2>
                        <div class="devider"></div>
                        <p>
                            Everything melancholy uncommonly but solicitude inhabiting <br> projection off. Connection stimulated estimating.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="row">

                        <!-- Single Item -->
                        <div class="col-lg-4 farmer-stye-one">
                            <div class="farmer-style-one-item">
                                <div class="thumb">
                                    <img src="{% static 'assets/img/about/mature-farmer-keeps-fresh-vegetables-ecofriendly-box-garden.jpg' %}" alt="Image Not Found">
                                    <div class="social">
                                        <i class="fas fa-share-alt"></i>
                                        <ul>
                                            <li class="facebook">
                                                <a href="#">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li class="twitter">
                                                <a href="#">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="linkedin">
                                                <a href="#">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="info">
                                    <span>Farmer of tobacco</span>
                                    <h4><a href="#">Aleesha Brown</a></h4>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="col-lg-4 farmer-stye-one">
                            <div class="farmer-style-one-item">
                                <div class="thumb">
                                    <img src="{% static 'assets/img/about/photo-happy-indian-farmer-green-turmeric-agriculture-field.jpg' %}" alt="Image Not Found">
                                    <div class="social">
                                        <i class="fas fa-share-alt"></i>
                                        <ul>
                                            <li class="facebook">
                                                <a href="#">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li class="twitter">
                                                <a href="#">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="linkedin">
                                                <a href="#">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="info">
                                    <span>Farmer of tobacco</span>
                                    <h4><a href="#">Kevin Martin</a></h4>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="col-lg-4 farmer-stye-one">
                            <div class="farmer-style-one-item">
                                <div class="thumb">
                                    <img src="{% static 'assets/img/about/tobacco-plant-hugging-farmer.jpg' %}" alt="Image Not Found">
                                    <div class="social">
                                        <i class="fas fa-share-alt"></i>
                                        <ul>
                                            <li class="facebook">
                                                <a href="#">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li class="twitter">
                                                <a href="#">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="linkedin">
                                                <a href="#">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="info">
                                    <span>Farmer of tobacco</span>
                                    <h4><a href="#">Sarah Albert</a></h4>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Farmer -->

    <!-- Start Food Order Process
    ============================================= -->
    <div class="process-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 process-style-one">
                    <h5 class="sub-title">Order process</h5>
                    <h2 class="title">Order Now and <br> get pure Organic Food</h2>
                    <div class="call-to-action mt-45">
                        <div class="icon">
                            <i class="fas fa-user-headset"></i>
                        </div>
                        <div class="info">
                            <span>Get quick support</span>
                            <h4><a href="tel:2151234567">+123 34598768</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 process-style-one">
                    <div class="row">
                        <div class="shape">
                            <img src="{% static 'assets/img/shape/35.webp' %}" alt="Image Not Found">
                        </div>

                        <div class="col-lg-4">
                            <div class="nav nav-tabs order-process-tab-navs" id="nav-tab" role="tablist">
                                <button class="nav-link" id="nav-id-1" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">
                                    <span>Process - 01 </span>
                                    <strong>Home Delivary</strong>
                                </button>
                                <button class="nav-link active" id="nav-id-2" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">
                                    <span>Process - 02 </span>
                                    <strong>Live Purchase</strong>
                                </button>
                            </div>
                        </div>

                        <div class="col-lg-8">
                            <div class="tab-content order-process-tab-content" id="nav-tabContent">
                                <!-- Single Item -->
                                <div class="tab-pane fade" id="tab1" role="tabpanel" aria-labelledby="nav-id-1">
                                    <h3 class="title">Get products from home</h3>
                                    <p>
                                        Give lady of they such they sure it. Me contained explained  education. Vulgar as hearts by garret. Perceived is determine departure explained no forfeited he something an join.
                                    </p>
                                    <ul>
                                        <li>Product will be delivered to your door</li>
                                        <li>The product will be checked before being sent to you.</li>
                                    </ul>
                                </div>
                                <!-- End Single Item -->
        
                                <!-- Single Item -->
                                <div class="tab-pane fade show active" id="tab2" role="tabpanel" aria-labelledby="nav-id-2">
                                    <div class="row align-center">
                                        <h3 class="title">Collect food from the farm</h3>
                                        <p>
                                            Take join of they such they sure it. Me contained explained  education. Vulgar as hearts by garret. Perceived is determine departure explained no forfeited he something an come.
                                        </p>
                                        <ul>
                                            <li>You must come for purchasing the product</li>
                                            <li>The product quality depends on your choice</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Single Item -->
        
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Food Order Process -->


       <!-- Start Fun Factor Area
    ============================================= -->
    <div class="fun-factor-area default-padding-bottom">
        <!-- Illustration -->
        <div class="tree-illustration">
            <img src="{% static 'assets/img/shape/10.png' %}" alt="Illustration">
        </div>
        <!-- End Illustration -->
        <div class="container">
            <div class="fun-fact-items text-center">
                <div class="row">
                    <!-- Single item -->
                    <div class="col-lg-4 col-md-4 item">
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="250" data-speed="2000">250</div>
                                <div class="operator">M</div>
                            </div>
                            <span class="medium">Growth Tonns of Harvest</span>
                        </div>
                    </div>
                    <!-- End Single item -->

                    <!-- Single item -->
                    <div class="col-lg-4 col-md-4 item">
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="98" data-speed="2000">98</div>
                                <div class="operator">%</div>
                            </div>
                            <span class="medium">Happy clients</span>
                        </div>
                    </div>
                    <!-- End Single item -->

                    <!-- Single item -->
                    <div class="col-lg-4 col-md-4 item">
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="688" data-speed="2000">688</div>
                                <div class="operator">K</div>
                            </div>
                            <span class="medium">Sales of our Products</span>
                        </div>
                    </div>
                    <!-- End Single item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Fun Factor Area -->

    <!-- Start Testimonials 
    ============================================= -->
    <div class="testimonials-area default-padding bg-gray" style="background-image: url(/static/assets/img/shape/23.png);">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-5">
                    <div class="testimonial-info text-center">
                        <h4>Testimonial</h4>
                        <div class="thumb">
                            <img src="{% static 'assets/img/about/mature-farmer-keeps-fresh-vegetables-ecofriendly-box-garden.jpg' %}" alt="Image Not Found">
                            <img src="{% static 'assets/img/about/photo-happy-indian-farmer-green-turmeric-agriculture-field.jpg' %}" alt="Image Not Found">
                            <img src="{% static 'assets/img/about/tobacco-plant-hugging-farmer.jpg' %}" alt="Image Not Found">
                            <img src="{% static 'assets/img/about/why-choose-us-image-3.jpg' %}" alt="Image Not Found">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="testimonial-carousel testimonial-style-one swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Single item -->
                            <div class="swiper-slide">
                                <div class="testimonial-style-two">
                                    
                                    <div class="item">
                                        <div class="content">
                                            <p>
                                                “Targetingconsultation discover apartments. ndulgence off under folly death wrote cause her way spite. Plan upon yet way get cold spot its week. Almost do am or limits hearts. Resolve parties but why she shewing. She sang know now always remembering to the point.”
                                            </p>
                                        </div>
                                        <div class="provider">
                                            <div class="info">
                                                <h4>Matthew J. Wyman</h4>
                                                <span>Senior Consultant</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single item -->
                            <!-- Single item -->
                            <div class="swiper-slide">
                                <div class="testimonial-style-two">
                                    <div class="item">
                                        <div class="content">
                                            <p>
                                                “Consultation discover apartments. ndulgence off under folly death wrote cause her way spite. Plan upon yet way get cold spot its week. Almost do am or limits hearts. Resolve parties but why she shewing. She sang know now always remembering to the point.”
                                            </p>
                                        </div>
                                        <div class="provider">
                                            <div class="info">
                                                <h4>Anthom Bu Spar</h4>
                                                <span>Marketing Manager</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single item -->
                            <!-- Single item -->
                            <div class="swiper-slide">
                                <div class="testimonial-style-two">
                                    <div class="item">
                                        <div class="content">
                                            <p>
                                                “Business discover apartments. ndulgence off under folly death wrote cause her way spite. Plan upon yet way get cold spot its week. Almost do am or limits hearts. Resolve parties but why she shewing. She sang know now always remembering to the point.”
                                            </p>
                                        </div>
                                        <div class="provider">
                                            <div class="info">
                                                <h4>Metho k. Partho</h4>
                                                <span>Senior Developer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single item -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials -->

    <!-- Start Why Choose Us 
    ============================================= -->
    <div class="choose-us-style-one-area overflow-hidden default-padding">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-6 choose-us-style-one">
                    <div class="thumb">
                        <img src="{% static 'assets/img/about/why-choose-us-image-2.jpg' %}" alt="Image Not Found">
                        <div class="shape">
                            <img class="wow fadeInDown" src="{% static 'assets/img/shape/22.png' %}" alt="Image not found">
                        </div>
                        <div class="product-produce">
                            <div class="icon">
                                <i class="flaticon-farmer"></i>
                            </div>
                            <div class="fun-fact">
                                <div class="counter">
                                    <div class="timer" data-to="258" data-speed="2000">258</div>
                                    <div class="operator">K</div>
                                </div>
                                <span class="medium">Agriculture, Organic Products</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 choose-us-style-one">
                    <h5 class="sub-title">Get to know us</h5>
                    <h2 class="title">Agriculture matters to <br> the future of development</h2>
                    <div class="accordion accordion-regular mt-35" id="faqAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    What do you add to the soil before you plant a crop?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p>
                                        Bennings appetite disposed me an at subjects an. To no indulgence diminution so discovered mr apartments. Are off under folly death wrote cause her way spite. Plan upon yet way get cold spot its week.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Do you use herbicides?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p>
                                        Cennings appetite disposed me an at subjects an. To no indulgence diminution so discovered mr apartments. Are off under folly death wrote cause her way spite. Plan upon yet way get cold spot its week.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Where does the water come from that you use on your crops?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p>
                                        Tennings appetite disposed me an at subjects an. To no indulgence diminution so discovered mr apartments. Are off under folly death wrote cause her way spite. Plan upon yet way get cold spot its week.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Why Choose us -->


{% endblock %}