{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

    <!-- Start Banner Area 
    ============================================= -->
    <div class="banner-area navigation-circle text-light zoom-effect overflow-hidden">
        <!-- Slider main container -->
        <div class="banner-fade">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">

                <!-- Single Item -->
                <div class="swiper-slide banner-style-four">
                    <div class="banner-thumb bg-cover shadow dark" style="background: url(/static/assets/img/home/krandco-banner.png);"></div>
                    <div class="container">
                        <div class="row align-center">
                            <div class="col-xl-7 ">
                                <div class="content">
                                    <h4>Elevating Tobacco Trading Globally</h4>
                                    <h2>The K.R & Co Legacy </h2>
                                    <p>
                                        K.R & Co, a leader in global tobacco trading, ensures client satisfaction through specialized farmer collaborations and efficient logistics.
                                    </p>
                                    <div class="button">
                                        <a class="btn btn-theme secondary btn-md radius animation" href="#">Discover More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="swiper-slide banner-style-four">
                    <div class="banner-thumb bg-cover shadow dark" style="background: url(/static/assets/img/home/krandco-three.png);"></div>
                    <div class="container">
                        <div class="row align-center">
                            <div class="col-xl-7 ">
                               
                                <div class="content">
                                    <h4>Excellence in International Tobacco Commerce</h4>
                                    <h2>K.R & Co's Journey</h2>
                                    <p>
                                        K.R & Co pioneers global tobacco trade, prioritizing quality, innovation, and customer satisfaction through strategic collaborations and efficient logistics.
                                    </p>
                                    <div class="button">
                                        <a class="btn btn-theme secondary btn-md radius animation" href="#">Discover More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->

            </div>

            <!-- Navigation -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>        
    </div>
    <!-- End Banner -->

    
    <!-- Start Shape 
    ============================================= -->
    <div class="about-style-four-area default-padding" style="background-image: url(assets/img/home/leaf-right.png);">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-6">
                    <div class="about-four-thumb">
                        <img src="{% static 'assets/img/home/aboutus-iamge.png' %}" alt="Image Not Found">
                        <!-- <img src="assets/img/home/element.png" alt="Image Not Found"> -->
                        <div class="experience">
                            <h2><strong>75</strong> Years of Experience</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="about-four-info">
                        <h2 class="title">Global Trading  <br>Excellence Ahead</h2>
                        
                        <!-- Tab Nav -->
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="mission-tab-control" data-bs-toggle="tab" data-bs-target="#mission-tab" type="button" role="tab" aria-controls="mission-tab" aria-selected="true">
                               Our Mission
                            </button>

                            <button class="nav-link" id="vision-tab-control" data-bs-toggle="tab" data-bs-target="#vision-tab" type="button" role="tab" aria-controls="vision-tab" aria-selected="false">
                                Our Vision
                            </button>

                        </div>
                        <!-- End Tab Nav -->

                        <!-- Start Tab Content -->
                        <div class="tab-content about-tab-items" id="myTabContent">

                            <!-- Tab Single -->
                            <div class="tab-pane fade show active" id="mission-tab" role="tabpanel" aria-labelledby="mission-tab-control">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            To be the leading global trading company in the tobacco industry, committed to delivering exceptional quality products and services to our clients while fostering sustainable relationships with tobacco farmers and ensuring timely delivery to meet customer requirements.
                                        </p>
                                        
                                        <!-- <div class="call-us">
                                            <div class="icon">
                                                <i class="fas fa-phone-alt"></i>
                                            </div>
                                            <div class="info">
                                                <h4>Call Us Today</h4>
                                                <h3> +4733378901</h3>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <!-- End Single -->

                            <!-- Tab Single -->
                            <div class="tab-pane fade" id="vision-tab" role="tabpanel" aria-labelledby="vision-tab-control">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            To continuously innovate and expand our operations, setting new standards for excellence in tobacco trading, while upholding our legacy of integrity, reliability, and professionalism. We aim to be the preferred partner for both tobacco growers and buyers worldwide, contributing positively to the communities we serve and the environment.
                                        </p>
                                        
                                       
                                    </div>
                                </div>
                            </div>
                            <!-- End Tab Single -->

                        </div>
                        <!-- End Tab Content -->

                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- End About -->

     <!-- Start Services 
    ============================================= -->
    <div class="services-style-three-area default-padding bg-gray half-bg-theme">
        <div class="shape-extra">
            <img src="assets/img/shape/18.png" alt="Image Not Found">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h5 class="sub-title">Introducing</h5>
                        <h2 class="title">  Our Range of  <br> Tobacco Varieties</h2>
                        <div class="devider"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="services-style-three-carousel swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            
                            <!-- Single Item -->
                            <div class="swiper-slide">
                                <div class="feature-product-item" style="background-image: url(assets/img/home/first-im.png);">
                                    <h2>Flue Cured Virgina </h2>
                                    <ul>
                                        <li>
                                            Planting
                                            Mid-Oct to Nov 1st week</li>
                                        <li>Marketing
                                            Feb to May</li>
                                        <li>Colour
                                            Medium to Large</li>
                                    </ul>
                                    <a class="btn btn-theme secondary btn-sm radius animation" href="#">Read More</a> 
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="swiper-slide">
                                <div class="feature-product-item" style="background-image: url(assets/img/800x600.png);">
                                    <h2>Flue Cured Virgina(Mysore)</h2>
                                    <ul>
                                        <li>Planting
                                            Early- May to End June</li>
                                        <li>Marketing
                                            September to January</li>
                                        <li>Colour
                                            Lemon to Orange</li>
                                    </ul>
                                    <a class="btn btn-theme secondary btn-sm radius animation" href="#">Read More</a>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="swiper-slide">
                                <div class="feature-product-item" style="background-image: url(assets/img/800x600.png);">
                                    <h2>Flue Cured Virgina (NLS)</h2>
                                    <ul>
                                        <li>Planting
                                            Early-October to End-November</li>
                                        <li>Marketing
                                            February to May</li>
                                        <li>Colour
                                            Lemon Orange to Orange</li>
                                    </ul>
                                    <a class="btn btn-theme secondary btn-sm radius animation" href="#">Read More</a>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="swiper-slide">
                                <div class="feature-product-item" style="background-image: url(assets/img/800x600.png);">
                                    <h2>Burley Tobacco </h2>
                                    <ul>
                                        <li>
                                            Planting
                                            October 1st week to November 4th week</li>
                                        <li>Marketing
                                            May to June</li>
                                        <li>Colour
                                            Rich tan to Brown</li>
                                    </ul>
                                    <a class="btn btn-theme secondary btn-sm radius animation" href="#">Read More</a>
                                </div>
                            </div>
                            <!-- End Single Item -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Services -->

    <!-- Start Choose Us
    ============================================= -->
    <div class="choose-us-style-five-area default-padding-bottom">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-6">
                    <div class="thumb-style-four">
                        <img src="{% static 'assets/img/home/aboutkrcosection.png' %}" alt="Image Not Foud">
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="info-style-four">
                        <h4 class="sub-title">Why Choose Us</h4>
                        <h2 class="title">K.R & Co's </h2>
                        <p>
                            Our journey, from humble beginnings to becoming a global leader in the tobacco industry, is defined by innovation, adaptability, and an unwavering dedication to customer satisfaction.
                        </p>
                        <ul class="list-two">
                            <li><i class="fas fa-arrow-right"></i> Establishment and Legacy</li>
                            <li><i class="fas fa-arrow-right"></i> Diverse Market Presence</li>
                            <li><i class="fas fa-arrow-right"></i> In-house Logistics and Management</li>
                            <li><i class="fas fa-arrow-right"></i> Specialization in Collaborative Farming</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Choose Us -->

   <!-- Start Fun Factor Area
    ============================================= -->
    <!-- <div class="fun-facts-area default-padding">
        <div class="shape-left">
            <img src="{% static 'assets/img/shape/27.png' %}" alt="Image Not Found">
        </div>
        <div class="container">
            <div class="item-inner">
                
                <div class="row">
                    <div class="col-lg-4 fun-fact-style-one">
                        <div class="heading">
                            <div class="sub-title">Achivements</div>
                            <h2 class="title">Delivering value <br> since 1949</h2>
                        </div>
                    </div>
                    <div class="col-lg-8 fun-fact-style-one text-end">
                        <div class="row">
                          
                            <div class="col-lg-4 col-md-4 item">
                                <div class="fun-fact">
                                    <div class="counter">
                                        <div class="timer" data-to="250" data-speed="2000">250</div>
                                        <div class="operator">M</div>
                                    </div>
                                    <span class="medium">Growth Tonns of Harvest</span>
                                </div>
                            </div>
                          

                           
                            <div class="col-lg-4 col-md-4 item">
                                <div class="fun-fact">
                                    <div class="counter">
                                        <div class="timer" data-to="100" data-speed="2000">100</div>
                                        <div class="operator">%</div>
                                    </div>
                                    <span class="medium">Happy clients</span>
                                </div>
                            </div>
                          

                          
                            <div class="col-lg-4 col-md-4 item">
                                <div class="fun-fact">
                                    <div class="counter">
                                        <div class="timer" data-to="688" data-speed="2000">100</div>
                                        <div class="operator">%</div>
                                    </div>
                                    <span class="medium">Delivery Efficiency</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Fun Factor Area -->

    <!-- Start Testimonials 
    ============================================= -->
    <!-- <div class="testimonials-area default-padding bg-gray" style="background-image: url(assets/img/shape/23.png);">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-5">
                    <div class="testimonial-info text-center">
                        <h4>Testimonial</h4>
                        <div class="thumb">
                            <img src="{% static 'assets/img/home/meet-farm-experts-1.jpg' %}" alt="Image Not Found">
                            <img src="{% static 'assets/img/home/meet-farm-experts-2.jpg' %}" alt="Image Not Found">
                            <img src="{% static 'assets/img/home/meet-farm-experts-3.jpg' %}" alt="Image Not Found">
                            <img src="{% static 'assets/img/home/meet-farm-experts-4.jpg' %}" alt="Image Not Found">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="testimonial-carousel testimonial-style-one swiper">
                        <!-- Additional required wrapper -->
                        <!-- <div class="swiper-wrapper"> -->
                            <!-- Single item -->
                            <!-- <div class="swiper-slide">
                                <div class="testimonial-style-two">
                                    
                                    <div class="item">
                                        <div class="content">
                                            <p>
                                                “Targetingconsultation discover apartments. ndulgence off under folly death wrote cause her way spite. Plan upon yet way get cold spot its week. Almost do am or limits hearts. Resolve parties but why she shewing. She sang know now always remembering to the point.”
                                            </p>
                                        </div>
                                        <div class="provider">
                                            <div class="info">
                                                <h4>Matthew J. Wyman</h4>
                                                <span>Senior Consultant</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- End Single item -->
                            <!-- Single item -->
                            <!-- <div class="swiper-slide">
                                <div class="testimonial-style-two">
                                    <div class="item">
                                        <div class="content">
                                            <p>
                                                “Consultation discover apartments. ndulgence off under folly death wrote cause her way spite. Plan upon yet way get cold spot its week. Almost do am or limits hearts. Resolve parties but why she shewing. She sang know now always remembering to the point.”
                                            </p>
                                        </div>
                                        <div class="provider">
                                            <div class="info">
                                                <h4>Anthom Bu Spar</h4>
                                                <span>Marketing Manager</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- End Single item -->
                            <!-- Single item -->
                            <!-- <div class="swiper-slide">
                                <div class="testimonial-style-two">
                                    <div class="item">
                                        <div class="content">
                                            <p>
                                                “Business discover apartments. ndulgence off under folly death wrote cause her way spite. Plan upon yet way get cold spot its week. Almost do am or limits hearts. Resolve parties but why she shewing. She sang know now always remembering to the point.”
                                            </p>
                                        </div>
                                        <div class="provider">
                                            <div class="info">
                                                <h4>Metho k. Partho</h4>
                                                <span>Senior Developer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- End Single item -->
                        <!-- </div>

                    </div>
                </div>
            </div>
        </div>
    </div>  -->
    <!-- End Testimonials -->

    
     <!-- Start Contact Us 
    ============================================= -->
    <div class="contact-area bg-gray default-padding" style="background-image:url(/static/assets/img/home/With-shadow.png);">
        <div class="container">
            <div class="row align-center">
                
                <div class="col-tact-stye-one col-lg-7">
                    <div class="contact-form-style-one mb-md-50">
                        <h5 class="sub-title">Have Questions?</h5>
                        <h2 class="heading">Send us a Massage</h2>
                        <form action="assets/mail/contact.php" method="POST" class="contact-form contact-form">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" id="name" name="name" placeholder="Name" type="text">
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input class="form-control" id="email" name="email" placeholder="Email*" type="email">
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input class="form-control" id="phone" name="phone" placeholder="Phone" type="text">
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" name="address" id="address" placeholder="Address" type="text">
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group comments">
                                        <textarea class="form-control" id="comments" name="comments" placeholder="Tell Us About Project *"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" name="submit" id="submit">
                                        <i class="fa fa-paper-plane"></i> Get in Touch
                                    </button>
                                </div>
                            </div>
                            <!-- Alert Message -->
                            <div class="col-lg-12 alert-notification">
                                <div id="message" class="alert-msg"></div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-tact-stye-one col-lg-5 pl-60 pl-md-15 pl-xs-15">
                    <div class="contact-style-one-info">
                        <h2>
                            Contact 
                            <span>
                                Information
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150" preserveAspectRatio="none"><path d="M14.4,111.6c0,0,202.9-33.7,471.2,0c0,0-194-8.9-397.3,24.7c0,0,141.9-5.9,309.2,0" style="animation-play-state: running;"></path></svg>
                            </span>
                        </h2>
                        <p>
                            We'd love to hear from you and help with any questions or inquiries you may have. Fill out the contact form below, send us an email, or give us a call - we're always happy to connect and assist you
                        </p>
                        <ul>
                            <li class="wow fadeInUp">
                                <div class="icon">
                                    <i class="fas fa-phone-alt"></i>
                                </div>
                                <div class="content">
                                    <h5 class="title">Hotline</h5>
                                    <p   class="mb-2">Phone:<a href="tel:+91 863 2244215">+91 863 224 4215</a></p>
                                    <p>Mobile:<a href="tel:+91 863 2244215"> +91 770 223 6777</a></p>
                                    <!-- <p>USA Direct Line:<a href="tel:+91 863 2244215"> +1 404 474 4332</a></p> -->
                                </div>
                            </li>
                            <li class="wow fadeInUp" data-wow-delay="300ms">
                                <div class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="info">
                                    <h5 class="title">Our Location</h5>
                                    <p>
                                        K.R & Co. <br>
19-9-221  Etukuru Rd, <br>
Guntur - 522003  (Andhra Pradesh)
                                    </p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" data-wow-delay="500ms">
                                <div class="icon">
                                    <i class="fas fa-envelope-open-text"></i>
                                </div>
                                <div class="info">
                                    <h5 class="title">Official Email</h5>
                                    <a href="mailto:krandco@krandco.in">krandco@krandco.in</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Contact -->

{% endblock %}




    <!-- Start Blog Area
    ============================================= -->
    <!-- <div class="blog-area home-blog blog-grid default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-30">
                    <div class="blog-style-one">
                        <div class="thumb">
                            <a href="#"><img src="assets/img/home/home-page-tobacco-varieties-img-5.png" alt="Image Not Found"></a>
                            <div class="date"><strong>18</strong> <span>Apr, 22</span></div>
                        </div>
                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fas fa-user-circle"></i> Admin</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fas fa-comments"></i> 26 Comments</a>
                                    </li>
                                </ul>
                            </div>
                            <h4 class="title">
                                <a href="#">Leaves and dust – raw materials for tobacco extraction</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-30">
                    <div class="blog-style-one">
                        <div class="thumb">
                            <a href="#"><img src="assets/img/home/jpg_Poi_vengono_fatte_maturare_all_ombra-_Il_tabacco_e_una_droga_pericolosa_c_Giuseppe_Mazza.webp" alt="Image Not Found"></a>
                            <div class="date"><strong>15</strong> <span>Jul, 22</span></div>
                        </div>
                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fas fa-user-circle"></i> User</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fas fa-comments"></i> 35 Comments</a>
                                    </li>
                                </ul>
                            </div>
                            <h4 class="title">
                                <a href="#">Nicotiana tabacum - Monac Nature Encyclopedia</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-30">
                    <div class="blog-style-one">
                        <div class="thumb">
                            <a href="#"><img src="assets/img/home/jpg_Le_foglie_qui_stese_al_sole_per_la_produzione_di_tabacco_raggiungono_i_60-100_cm_c_Giuseppe_Mazza.webp" alt="Image Not Found"></a>
                            <div class="date"><strong>24</strong> <span>Feb, 22</span></div>
                        </div>
                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fas fa-user-circle"></i> User</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fas fa-comments"></i> 12 Comments</a>
                                    </li>
                                </ul>
                            </div>
                            <h4 class="title">
                                <a href="#">Overcame breeding or concerns removing past</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Blog Area --


