
{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}



    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area text-center shadow dark bg-fixed text-light" style="background-image: url(/static/assets/img/tobacco-varieties/tobacco-varieties-banner-8.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Tobacco Varieties</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                            <li class="active">Tobacco-Varieties</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

  
 <!-- Start Team Single Area
    ============================================= -->
    <div class="farmer-single-area bg-white ">
        {% for Productitem in Products %}
        <div class="container my-5 pb-5 ">
            <div class="farmer-content-top">
                <!-- <div class=" mt-3">
                               
                    <h4><a href="#">{{Productitem.Title}}</a></h4>
                </div> -->
                <div class="row ">
                    <div class="col-lg-4 farmer-stye-one bg-gray">
                        <div class="farmer-style-one-item">
                            
                            <div class="thumb">
                                <img src="/media/{{Productitem.Image1}}" alt="Image Not Found">
                              
                            </div>
                            
                        </div>
                    </div>
                    <!-- <div class="col-lg-5 pr-50 pr-md-15 pr-xs-15">
                        <div class="pf-item">
                            <div class="gallery-style-two">
                                <img src="/media/{{Productitem.Image1}}" alt="Thumb">
                                <div class="overlay">
                                    
                                    <h4><a href="#">{{Productitem.Title}}</a></h4>
                                </div>
                               
                            </div>
                        </div>
                    </div> -->
                    <div class="col-lg-7 right-info">
                        <h4 style="font-weight: 700;">{{Productitem.Title}}</h4>
                            <ul class="fields mt-20 ">
                                <li class="property d-flex col-lg-12">
                                    <p class="col-lg-4 pro mb-3">Crop Year</p> <p class="col-lg-8 ">
                                        : {{Productitem.CropYear}}</p></li>
                                <li class="property  d-flex col-lg-12"><p class="col-lg-4 pro ">Type</p> <p class="col-lg-8 ">: Feb to May</p></li>
                                <li class="property d-flex col-lg-12"><p class="col-lg-4 pro">Grade</p> <p class="col-lg-8 ">: Feb to May</p></li>
                                <li class="property d-flex col-lg-12"><p class="col-lg-4 pro ">Form</p> <p class="col-lg-8 ">: Feb to May</p></li>
                                <li class="property d-flex col-lg-12"><p class="col-lg-4 pro">Nic</p></p> <p class="col-lg-8 ">: Feb to May</p></li>
                                <li class="property d-flex col-lg-12"><p class="col-lg-4 pro">Sug</p> <p class="col-lg-8">: 254</p></li>
                                <li class="property d-flex col-lg-12"><p class="col-lg-4 pro">Packing</p> <p class="col-lg-8">: Feb to May</p></li>
                                <li class="property  d-flex col-lg-12"><p class="col-lg-4 pro">Quantity</p> <p class="col-lg-8">: 20Tons</p></li>
                               
                            </ul>
                        <!-- <span>Physical Characteristics</span>
                        <span>Chemical Characteristics</span> -->
                        
                        
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- End Team Single Area -->
        <!-- Start Featured Product 
    ============================================= -->

    <!-- End Featured Product -->



{% endblock %}
