{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}



<!-- Start Breadcrumb 
    ============================================= -->
<div class="breadcrumb-area text-center shadow dark bg-fixed text-light"
    style="background-image: url(/static/assets/img/about/tobaccoproperties.png);background-size: 100%!important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1>Tobacco Varieties</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">Tobacco-Varieties</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->


<section class="tobacco-main-sec  pb-2">
   
 <!-- Start Shop 
    ============================================= -->
    <div class="validtheme-shop-single-area default-padding">
        <div class="container">
            <div class="product-details">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="product-thumb">
                            <div id="timeline-carousel" class="carousel slide" data-bs-ride="carousel">

                                <div class="carousel-inner item-box">
                                    <div class="carousel-item active product-item">
                                        <a href="/static/assets/img/tobacco-varieties/product-three.jpg" class="item popup-gallery">
                                            <img src="/static/assets/img/tobacco-varieties/product-three.jpg" alt="Thumb">
                                        </a>
                                        <span class="onsale theme">New</span>
                                    </div>
                                   
                                   
                                   
                                </div>

                                
                               
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="single-product-contents">
                            <!-- <div class="summary-top-box">
                                
                                <div class="product-estimate-delivary mt-0">
                                    <i class="fas fa-calendar"></i>
                                   
                                    <span> Feb. 21, 2024, 1:24 p.m.</span>
                                </div>
                            </div> -->
                            <div class="d-flex flex-wrap">
                            <div class="col-lg-7 col-12">
                            <h4 class="product-title mb-2">
                                Flue Cured Virgina (NLS)
                            </h2>
                        </div>
                            <div class="col-lg-5 col-12  product-estimate-delivary mt-0">
                                <i class="fas fa-calendar"></i>
                               
                                <span> Feb. 21, 2024, 1:24 p.m.</span>
                            </div>
                        </div>
                            <div class="product-stock validthemes-in-stock mb-4 mt-2">
                                <span>In Stock</span>
                            </div>
                            <div class="tobacco-varieties-content flex-wrap">
                            <div class="col-lg-6 col-6">
                                <p>Type </p>
                                <p>Grade </p>
                                <p>Nicotine </p>
                                <p>Sugar </p>
                                <p>Packing </p>
                                <p>Quantity </p>
                                <p>Price </p>
                            </div>
                            <div class="col-lg-6 col-6">
                                <p>: Lemon Orange to Orange</p>
                                <p>: Large</p>
                                <p>: 0.13</p>
                                <p>: 2.2 to 2.8</p>
                                <p>: Large</p>
                                <p>: 0.13</p>
                                <p>: 2.2 to 2.8</p>
                            </div>
                        </div>
                           
                            <!-- <div class="product-meta">
                                <span class="sku">
                                    <strong></strong> BE45VGRT
                                    
                                   
                                </span>
                               

                                
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

            
           
        </div>
    </div>
    <!-- End Shop -->
   
</section>


{% endblock %}